.vs/
Console/bin/
Console/obj/
Engine/bin/
Engine/obj/
packages/
Tests/obj/Debug/Tests.pdb
Tests/obj/Debug/Tests.csprojAssemblyReference.cache
Tests/obj/
Tests/bin/
/TuroChampXboard/bin/Debug
/TuroChampXboard/obj/Debug
ConsoleApp.csproj.user
/Xboard/bin/Debug
/Xboard/obj/Debug
